In [146]:
import sklearn
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [165]:
df = pd.read_excel("Book1.xlsx")

In [148]:
df.head()

                                               tweet existence  confidence
0  Global warming report urges governments to act...       Yes      1.0000
1  Fighting poverty and global warming in Africa ...       Yes      1.0000
2  Carbon offsets: How a Vatican forest failed to...       Yes      0.8786
3  Carbon offsets: How a Vatican forest failed to...       Yes      1.0000
4  URUGUAY: Tools Needed for Those Most Vulnerabl...       Yes      0.8087

In [166]:
print(df.existence.value_counts())
print("Sum of nan:")
print(df.existence.isna().sum())

#Deleting nan value rows
df = df[df.existence != 'nan']

print(df.existence.value_counts())

#Replacing Yes with Y and No with N
df['existence'] = df['existence'].replace(['Yes','No'],['Y','N'])
print(df.existence.value_counts())

Y      2554
N      1053
Yes     557
No       61
Name: existence, dtype: int64
Sum of nan:
1865
Y      2554
N      1053
Yes     557
No       61
Name: existence, dtype: int64
Y    3111
N    1114
Name: existence, dtype: int64

In [164]:
print("Sum of nan:")
print(df.existence.isna().sum())


print(df['existence'].dtype)
print(df['tweet'].dtype)
print(df['confidence'].dtype)

Sum of nan:
1865
object
object
float64

In [138]:
train, test = train_test_split(df, test_size=0.2)

In [139]:
print(train.head())
print(test.head())

                                                  tweet existence  confidence
4402  California Network to Monitor Global-Warming E...         Y      0.7453
6077  Bats, Birds and Lizards Can Fight Climate Chan...         Y      1.0000
2936  You and Us and Me - Olympics organisers desper...         Y      0.6708
110   RT @danlatorre: James Hansen/Heather Rogers, G...         Y      0.7949
1418  Health effects are a big deal. RT @EPSclimate:...         Y      1.0000
                                                  tweet existence  confidence
4489  Earth's polar ice sheets vulnerable to even mo...         Y      1.0000
4448  Earth's polar ice sheets vulnerable to even mo...         Y      1.0000
2794  "Even McCain supporters" support global warmin...         N      1.0000
4449  I guess we need to stop saying "global warming...         Y      1.0000
692   Funny how timely oil spill in Gulf and new AZ ...       NaN      0.8049

In [140]:
import re

REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")

In [141]:
import preprocessor as p


def clean_tweets(df):
  tempArr = []
  for line in df:
    tmpL = p.clean(line)
    tmpL = REPLACE_NO_SPACE.sub("", tmpL.lower()) 
    tmpL = REPLACE_WITH_SPACE.sub(" ", tmpL)
    tempArr.append(tmpL)
  return tempArr

In [142]:
train_tweet = clean_tweets(train["tweet"])
train_tweet = pd.DataFrame(train_tweet)

In [143]:
train["clean_tweet"] = train_tweet
train.head()

C:\Users\soheb\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tweet,existence,confidence,clean_tweet
4402,California Network to Monitor Global-Warming E...,Y,0.7453,exactly justin just saw fox say well be gettin...
6077,"Bats, Birds and Lizards Can Fight Climate Chan...",Y,1.0000,NaN
2936,You and Us and Me - Olympics organisers desper...,Y,0.6708,plants can effectively tackle global warmingdo...
110,"RT @danlatorre: James Hansen/Heather Rogers, G...",Y,0.7949,rt climate change migration patterns have ch...
1418,Health effects are a big deal. RT @EPSclimate:...,Y,1.0000,in climate data that suggests global warming a...

In [144]:
test_tweet = clean_tweets(test["tweet"])
test_tweet = pd.DataFrame(test_tweet)
# append cleaned tweets to the training data
test["clean_tweet"] = test_tweet

# compare the cleaned and uncleaned tweets
test.tail()

C:\Users\soheb\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,tweet,existence,confidence,clean_tweet
3795,@devhammer unlesss global warming will stop th...,Y,0.6801,NaN
1815,Climate change and our identity http://bit.ly/...,Y,0.6295,NaN
365,Leaked U.S. Document Calls For •À_Global Regim...,Y,0.6042,i know you have your beliefs on global warming...
3312,RT @NWF: BudBurst volunteers needed: to look f...,Y,1.0000,NaN
4664,Good question! RT @Time_Inc: TIME: Another Bli...,N,1.0000,NaN